[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
autopep8 = "*"
flake8 = "*"
pylint = "*"
pytest-cov = "*"

[packages]
pyside2 = "*"
sqlalchemy = "*"
pylint = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
